.menu{
    width:80%;
    display:block;
    font-size:40px;
    margin:5px auto;
    background-color:#80765f;
    color:white;
    border-radius:10px;
    padding:10px;
}

.menuprice{
    float:right;
}

/*//dev class=category id=on_a / dev class = menu / span class = menuname, span class = menuprice*/